[Unit]
Description=Run the BrokenBot discord bot
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 main.py
WorkingDirectory={WORKING_DIR}

[Install]
WantedBy=multi-user.target